@page
@model ProjectPage.CreateModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới dự án</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-page="/Home/Index" asp-area="Admin">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Project/Index" asp-area="Admin">Danh sách dự án</a></li>
                    <li class="breadcrumb-item">Thêm mới dự án</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            Thêm các thông tin sản phẩm mới vào form bên dưới. <br /> <small>(Ảnh thumbnail và ảnh banner sẽ được thêm sau khi tạo)</small>
        </div>
        <div class="card-body">
            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger">@ViewData["error"]</div>
            }
            <form method="post">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label class="col-12">Tên dự án</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/icons/vietnamese.svg"/></span>
                                </div>
                                <input asp-for="MainModel.Title" placeholder="Bằng tiếng Việt" class="form-control" required />
                            </div>
                            <span class="text-danger" asp-validation-for="MainModel.Title"></span>

                        </div>
                       
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label asp-for="MainModel.CategoryId">Thể loại dự án</label>
                                <select asp-for="MainModel.CategoryId" asp-items="Model.Categories" class="form-control" required>
                                    <option value=""></option>
                                </select>
                                <span class="text-danger" asp-validation-for="MainModel.CategoryId"></span>
                            </div>

                            
                            <div class="col-lg-6">
                                <label asp-for="MainModel.ProjectFieldId">Lĩnh vực</label>
                                <select asp-for="MainModel.ProjectFieldId" asp-items="Model.ProjectFields" class="form-control" required>
                                    <option value=""></option>
                                </select>
                                <span class="text-danger" asp-validation-for="MainModel.ProjectFieldId"></span>
                            </div>
                        </div>
                        
                        <div class="form-group row">

                            <div class="col-lg-6">
                                <label asp-for="MainModel.LocationId">Địa điểm</label>
                                <select asp-for="MainModel.LocationId" asp-items="Model.Locations" class="form-control" required>
                                    <option value=""></option>
                                </select>
                                <span class="text-danger" asp-validation-for="MainModel.LocationId"></span>
                            </div>
                            <div class="col-xl-6">
                                <label asp-for="MainModel.Year">Năm</label>
                                <input asp-for="MainModel.Year" class="form-control" required />
                                <span class="text-danger" asp-validation-for="MainModel.Year"></span>
                            </div>
                            <div class="col-lg-6">
                                <label asp-for="MainModel.Investor">Chủ đầu tư</label>
                                <input asp-for="MainModel.Investor" class="form-control" required />
                                <span class="text-danger" asp-validation-for="MainModel.Investor"></span>
                            </div>
                            <div class="col-lg-6">
                                <label asp-for="MainModel.Theme">Màu menu <span class="red">(*)</span></label>
                                <select asp-for="MainModel.Theme" asp-items="@Model.Themes" class="form-control" required>
                                </select>
                                <span class="text-danger" asp-validation-for="MainModel.Theme"></span>
                            </div>
                        </div>
                       
                        <br />
                        <button type="submit" class="create_btn btn btn-primary"><i class="far fa-save"></i> Lưu lại</button>
                        <a class="btn btn-default" asp-page="/Product/Index"><i class="fas fa-times"></i> Hủy bỏ</a>
                    </div>
                    <div class="col-xl-6">
                        <div id="english_info_area" style="display:none">
                            <div class="form-group">
                                <label class="col-12">Tên tiếng Anh</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="/assets/icons/english.svg" /></span>
                                    </div>
                                    <input asp-for="MainModel.TitleEn" placeholder="Bằng tiếng Anh" class="form-control" required />
                                </div>
                                <span class="text-danger" asp-validation-for="MainModel.TitleEn"></span>
                            </div>
                         
                        </div>
                      
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="english_enable_cb" type="checkbox" class="form-check-input" asp-for="MainModel.IsEnglishIncluded">Bao gồm bài viết tiếng Anh
                            </label>
                        </div>
                    </div>
              
                </div>
            </form>

        </div>
    </div>
</section>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            $('#english_enable_cb').on('change', function (e) {
                $('#english_info_area').fadeToggle();
            });
        });
    </script>
}