@import '../color';
#form_contact_area{
    position: relative;
    font-size: 14px;
    form {
        padding-top: 5px;
        input{
            border-radius: 0;
            font-size: inherit;
        }
        textarea{
            font-size: inherit !important;
        }
        a.btn{
            background-color: $pink;
            border-radius: 0;
            padding:5px 25px;
            color:#fff;
            font-size: inherit;
        }
    }
}
.tb_border_color,.tb_border_gray{
    height: 100%;
    padding: 15px 0;
}
.tb_border_color::after,.tb_border_color::before{
    height: 2px;
    width: calc(100% - 30px);
    background-image: url(/assets/images/contact/color_1.png);
    position: absolute;
    bottom: 0;
    left: 15px;
    content:'';
}
.tb_border_color::before{
    top: 0;
    bottom: unset;
}
.tb_border_gray::before,.tb_border_gray::after {
    height: 2px;
    width: calc(100% - 30px);
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 15px;
    content:'';
}
.tb_border_gray::before{
    top: 0;
    bottom: unset;
}
.t_title{
    font-size: 24px;
}
.stand_alone{
    display: block;
    margin-bottom: 15px;
    margin-top: 30px;
}
.flex_box{
    justify-content: flex-start;
    padding: 10px 0;
}
.inline_img{
    text-align: center;
    max-width: 32px;
    img{
        width: 80%;
    }
}
#map{
    width: 100%;
}


@media (max-width: 600px){
    #map{
        height: 200px;
    }
    #form_contact_area{
        padding: 50px 0;
    }
}
@media (min-width: 600px) and (max-width: 760px){
    #form_contact_area{
        padding: 50px 0;
    }
}
@media (min-width:768px){
    #map{
        height: 300px;
    }
    #form_contact_area{
        padding: 50px 0;
    }
}
@media (min-width:992px){
    #map{
        height: 400px;
    }
    #form_contact_area{
        padding: 100px 0;
    }
}
@media (min-width:1200px){
    #map{
        height: 500px;
    }
   
}

