#main_content {
  background-color: #fafafa;
}

#collection {
  padding: 50px 0;
}

#collection .filter_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

#collection .filter_area #product_search {
  position: relative;
}

#collection .filter_area #product_search input {
  border: 0;
  outline: none;
  border-bottom: 1px solid #eee;
  padding: .375rem .75rem;
  background-color: transparent;
}

#collection .filter_area #product_search img {
  width: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#collection .collection_list .row {
  margin: 0;
}

#collection .collection_list .row > div {
  padding-left: 0;
  padding-right: 0;
}

#collection .collection_list .collection_box {
  position: relative;
}

#collection .collection_list .collection_box img {
  width: 100%;
}

#collection .collection_list .collection_box .hover_bg {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#collection .collection_list .collection_box .hover_bg a {
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-color: #ee0771;
  font-family: qs_bold;
}

#collection .collection_list .collection_box:hover .hover_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bootstrap-select button.dropdown-toggle {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  outline: none;
  font-size: inherit;
}

.bootstrap-select .dropdown-menu {
  font-size: inherit;
}

#collection_detail {
  padding: 50px 0;
}

#collection_detail .top_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1;
  margin: 15px 0;
}

#collection_detail .top_header ul {
  margin-bottom: 0;
}

#collection_detail .top_header .view_more {
  color: #777;
  text-decoration: none;
}

#collection_detail .top_header .view_more span {
  margin-left: 5px;
}

#collection_detail .body .article {
  margin: 25px 0;
}

#collection_detail .body .images .grid_images {
  margin-left: -0.5vw;
  margin-right: -0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

#collection_detail .body .images .grid_images div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 33.33333%;
  padding: .5vw;
}

#collection_detail .body .images .grid_images div img {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  #collection_detail {
    padding: 50px 10px;
  }
}
/*# sourceMappingURL=collection.css.map */