@import '../color';
@mixin flexVerticalCenter {
    display: flex;
    align-items: center;
}
@mixin limitLines($number_of_lines) {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: $number_of_lines; 
}
#main_content{
    background-color: #fafafa;
}
#collection{
    padding: 50px 0;
    .filter_area{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        #product_search{
            position: relative;
            input{
                border: 0;
                outline: none;
                border-bottom: 1px solid #eee;
                padding: .375rem .75rem;
                background-color: transparent;
            }
            img{
                width: 15px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .collection_list{
        .row{
            margin: 0;
            &>div{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .collection_box{
            position: relative;
            img{
                width: 100%;
            }
            .hover_bg{
                display: none;
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                bottom: 0;
               background-color: rgba(0,0,0,.5);
                justify-content: center;
                align-items: center;
                a{
                    display: block;
                    width: 100px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    color: #fff;
                    background-color: $pink;
                    font-family: qs_bold;
                }
            }
            &:hover{
                .hover_bg{
                    display: flex;
                }
            }
        }
    }
}
.bootstrap-select {
    button.dropdown-toggle{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #eee;
        border-radius: 0;
        outline: none;
        font-size: inherit;
    }
    .dropdown-menu{
        font-size: inherit;
    }
}
#collection_detail{
    padding: 50px 0;
    .top_header{
        display: flex;
        justify-content: space-between;
        line-height: 1;
        margin: 15px 0;

        ul{
            margin-bottom: 0;
        }
        .view_more{
            color: #777;
            text-decoration: none;
            span{
                margin-left: 5px;
            }
        }
    }
    .body{
        .article{
            margin: 25px 0;
        }
        .images{
            .grid_images {
                margin-left: -0.5vw;
                margin-right: -0.5vw;
                font-size: 0;
                display: -ms-flexbox;
                -ms-flex-wrap: wrap;
                -ms-flex-direction: column;
                -webkit-flex-flow: row wrap; 
                flex-flow: row wrap; 
                display: -webkit-box;
                display: flex;
                div { 
                    -webkit-box-flex: auto;
                    -ms-flex: auto;
                    flex: auto; 
                    width: 33.33333%;
                    padding: .5vw;
                    img { 
                        width: 100%; 
                        height: auto; 
                    }
                }
              }
        }
    }
   
}
@media (max-width:600px){
    #collection_detail{
        padding: 50px 10px;
    }
}