@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

<div id="banner">
    <div class="slide-banner">
        <div class="item">
            <div class="bg_item" style="background-image: url('/assets/images/home/slides/1.jpg');">
            </div>
            <div class="title_card_banner">
                <div class="wrap_text">
                    <div class="text">
                        Sáng tạo - Khoa học <br />
                        Chuẩn xác - Chuyên nghiệp
                    </div>
                </div>

            </div>
            <div class="indicators">
                <div>1</div>
                <div class="line">
                    <div class="placehoder"></div>
                    <div class="progress_line"></div>
                </div>
                <div>2</div>
            </div>
            <div class="info_card">
                <div class="project_name">
                    Khu vui chơi quốc té Booyoung vina <img src="/assets/icons/the-loai.svg">
                </div>
                <div class="project_location">
                    Hà nội - Việt Nam <img src="/assets/icons/dia-chi.svg">
                </div>
            </div>
            <a class="view_more" href="/project/detail">
                Xem chi tiết <span>+</span>
            </a>
        </div>
        <div class="item">
            <div class="bg_item" style="background-image: url('/assets/images/home/slides/2.jpg');"></div>
            <div class="title_card_banner">
                <div class="wrap_text">
                    <div class="text">
                        Sáng tạo - Khoa học <br />
                        Chuẩn xác - Chuyên nghiệp
                    </div>
                </div>

            </div>
            <div class="indicators">
                <div>2</div>
                <div class="line">
                    <div class="placehoder"></div>
                    <div class="progress_line"></div>
                </div>
                <div>3</div>
            </div>
            <div class="info_card">
                <div class="project_name">
                    Khu vui chơi quốc té Booyoung vina <img src="/assets/icons/the-loai.svg">
                </div>
                <div class="project_location">
                    Hà nội - Việt Nam <img src="/assets/icons/dia-chi.svg">
                </div>
            </div>
            <a class="view_more" href="/project/detail">
                Xem chi tiết <span>+</span>
            </a>
        </div>
        <div class="item">
            <div class="bg_item" style="background-image: url('/assets/images/home/slides/3.jpg');"></div>
            <div class="title_card_banner">
                <div class="wrap_text">
                    <div class="text">
                        Sáng tạo - Khoa học <br />
                        Chuẩn xác - Chuyên nghiệp
                    </div>
                </div>

            </div>
            <div class="indicators">
                <div>3</div>
                <div class="line">
                    <div class="placehoder"></div>
                    <div class="progress_line"></div>
                </div>
                <div>4</div>
            </div>
            <div class="info_card">
                <div class="project_name">
                    Khu vui chơi quốc té Booyoung vina <img src="/assets/icons/the-loai.svg">
                </div>
                <div class="project_location">
                    Hà nội - Việt Nam <img src="/assets/icons/dia-chi.svg">
                </div>
            </div>
            <a class="view_more" href="/project/detail">
                Xem chi tiết <span>+</span>
            </a>
        </div>
    </div>
    <div class="shadow_bottom">

    </div>
</div>
<div class="about_us padding">
    <h3 class="heading">
        Về chúng tôi
    </h3>
    <div class="ck-content">
        <figure class="table">
            <table>
                <td style="width:33.33%;padding-right: 20px;">
                    <p>
                        <strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</strong> Consequatur
                        quasi sint, quae
                        magni
                        excepturi eum aliquid pariatur quaerat eos reprehenderit corrupti iste ad magnam
                        similique
                        doloribus facere provident ea fugiat.
                    </p>
                </td>
                <td style="width:33.33%;padding-right: 10px;padding-left:10px">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur quasi sint, quae
                        magni
                        excepturi eum aliquid pariatur quaerat eos reprehenderit corrupti iste ad magnam
                        similique
                        doloribus facere provident ea fugiat.
                    </p>
                </td>
                <td style="width:33.33%;padding-left:20px">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur quasi sint, quae
                        magni
                        excepturi eum aliquid pariatur quaerat eos reprehenderit corrupti iste ad magnam
                        similique
                        doloribus facere provident ea fugiat.
                    </p>
                </td>
            </table>
        </figure>

    </div>
    <div class="view_more">
        <a href="/about"><span>[</span> Xem thêm <span>]</span></a>
    </div>
</div>
<div class="project_cards">
    <div class="project_card">
        <a class="title bg_color_2 padding" href="/project">
            <div class="text">Dự án</div>
        </a>
        <div class="img"><img src="/assets/images/home/banner_2.jpg"></div>
    </div>
    <div class="project_card">
        <a class="title bg_color_1 padding" href="/project">
            <div class="text">Tư vấn xây dựng</div>
            <div class="plus_sign">+</div>
        </a>
        <div class="img"><img src="/assets/images/home/banner_4.jpg"></div>
    </div>
    <div class="project_card">
        <a class="title bg_color_1 padding" href="/project">
            <div class="text">Tư vấn đầu tư</div>
            <div class="plus_sign">+</div>
        </a>
        <div class="img"><img src="/assets/images/home/banner_1.jpg"></div>
    </div>
    <div class="project_card">
        <a class="title bg_color_1 padding" href="/project">
            <div class="text">Dự án đầu tư</div>
            <div class="plus_sign">+</div>
        </a>
        <div class="img"><img src="/assets/images/home/banner_3.jpg"></div>
    </div>
</div>

@section Styles {

    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
   
}

@section Scripts {
    <script src="~/lib/slick/slick.min.js"></script>
    <script>
        $(function () {
            $('#banner .slide-banner').on('init', function (event, slick) {
                $('#banner .indicators .line').addClass('active');
            });
            $('#banner .slide-banner').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                if (nextSlide == 1) {
                    $('#banner .item .info_card').addClass('text_dark');
                    $("#menu").addClass('dark');
                }
                else {
                    $('#banner .item .info_card').removeClass('text_dark');
                    $('#menu').removeClass('dark');
                }
            });
            $('#banner .slide-banner').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                selector: '.item',
                autoplay: true,
                speed: 1000,
                cssEase: 'linear',
                autoplaySpeed: 5000,
                infinite: true,
                waitForAnimate: false,
                pauseOnHover: false

            });
        })
    </script>
}