@page
@model BaseProjectWebRazor.Pages.Project.DetailModel
@{
    ViewData["Title"] = "Chi tiết dự án";
}
<div class="project-detail-page">
    <div class="banner">

        <img src="/assets/images/projects/project_banner.jpg">
    </div>
    <div class="wrap_project_detail padding">
        <div class="row">
            <div class="col-lg-4">
                <div class="info">
                    <div class="heading_area">
                        <h3 class="heading">
                            Thông tin dự án

                        </h3>
                    </div>
                    <div class="list-info">
                        <div class="line">
                            <div class="label">Tên công trình</div>
                            <div class="text">Đài tưởng niệm liệt sĩ Tuyên Quang</div>
                        </div>
                        <div class="line">
                            <div class="label">Địa điểm</div>
                            <div class="text">Tuyên Quang</div>
                        </div>
                        <div class="line">
                            <div class="label">Chủ đầu tư</div>
                            <div class="text">??????????????????</div>
                        </div>
                        <div class="line">
                            <div class="label">Thể loại</div>
                            <div class="text">Cộng đồng</div>
                        </div>
                        <div class="line">
                            <div class="label">Lĩnh vực</div>
                            <div class="text">Tư vấn Thiết kế, Dự án Đầu tư</div>
                        </div>
                        <div class="line">
                            <div class="label">Thời gian</div>
                            <div class="text">1995</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 brd">
                <div class="article">
                    <div class="heading_area">
                        <h3 class="heading">
                            Đài tưởng niệm liệt sĩ

                        </h3>
                        <div class="share">
                            <span>CHIA SẺ :</span>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.76" height="23.598"
                                     viewBox="0 0 12.76 23.598">
                                    <g id="fb" transform="translate(18755 -1229)">
                                        <g transform="translate(-18755 1229)">
                                            <g transform="translate(0 0)">
                                                <path d="M34.355,0l-3.06,0c-3.438,0-5.66,2.279-5.66,5.807V8.485H22.558a.481.481,0,0,0-.481.481v3.88a.481.481,0,0,0,.481.481h3.077v9.789a.481.481,0,0,0,.481.481h4.014a.481.481,0,0,0,.481-.481V13.327h3.6a.481.481,0,0,0,.481-.481V8.967a.482.482,0,0,0-.481-.481h-3.6V6.215c0-1.091.26-1.645,1.681-1.645h2.061a.481.481,0,0,0,.481-.481V.486A.481.481,0,0,0,34.355,0Z"
                                                      transform="translate(-22.077)" fill="#89a3a3" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            </a>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22.836" height="22.551"
                                     viewBox="0 0 22.836 22.551">
                                    <g transform="translate(18705.822 -1229)">
                                        <g transform="translate(-18705.822 1229)">
                                            <g transform="translate(0 0)">
                                                <g transform="translate(0 6.851)">
                                                    <g>
                                                        <rect width="5.107" height="15.7" fill="#89a3a3" />
                                                    </g>
                                                </g>
                                                <g transform="translate(7.136 6.851)">
                                                    <g>
                                                        <path id="Path_8" data-name="Path 8"
                                                              d="M171.881,160.184c-.054-.017-.106-.036-.163-.051s-.137-.029-.207-.04a4.575,4.575,0,0,0-.916-.093,7.1,7.1,0,0,0-5.488,3v-3H160v15.7h5.107v-8.564s3.859-5.375,5.488-1.427V175.7H175.7V165.105A5.092,5.092,0,0,0,171.881,160.184Z"
                                                              transform="translate(-160 -160)" fill="#89a3a3" />
                                                    </g>
                                                </g>
                                                <g transform="translate(0.269)">
                                                    <g>
                                                        <ellipse cx="2.394" cy="2.394" rx="2.394" ry="2.394"
                                                                 fill="#89a3a3" />
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            </a>
                        </div>
                    </div>
                    <div class="ck-content">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam ullam
                            veritatis animi deleniti beatae dolor? Mollitia sapiente, tempora nesciunt modi est quam
                            tempore ab nemo vel voluptate libero commodi.
                        </p>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam ullam
                            veritatis animi deleniti beatae dolor? Mollitia sapiente, tempora nesciunt modi est quam
                            tempore ab nemo vel voluptate libero commodi.
                        </p>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam ullam
                            veritatis animi deleniti beatae dolor? Mollitia sapiente, tempora nesciunt modi est quam
                            tempore ab nemo vel voluptate libero commodi.
                        </p>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam ullam
                            veritatis animi deleniti beatae dolor? Mollitia sapiente, tempora nesciunt modi est quam
                            tempore ab nemo vel voluptate libero commodi.
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="title_card bg_color_2">
        <a href="/project" class="back_to_list">[ Quay trở lại danh sách dự án ]</a>
    </div>
</div>
@section Styles{ 
    <link href="~/css/projects.css" rel="stylesheet" />
}