#wrapper .main_section {
  margin: auto;
  padding: 50px 0;
}

#wrapper .main_section .section_header {
  text-align: center;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
}

#wrapper .main_section .section_header .color_line {
  width: 100px;
  margin: 20px auto;
  background-size: contain;
}

#wrapper .slick-prev, #wrapper .slick-next {
  z-index: 1;
  width: 25px;
  height: 50px;
}

#wrapper .slick-prev {
  background-image: url(/assets/images/home/icon_arrow_left.png);
  left: -100px;
}

#wrapper .slick-prev::before {
  content: none;
}

#wrapper .slick-next {
  background-image: url(/assets/images/home/icon_arrow_right.png);
  right: -100px;
}

#wrapper .slick-next::before {
  content: none;
}

#wrapper #slide_banner_area {
  position: relative;
  margin-bottom: 50px;
}

#wrapper #slide_banner_area #slide_banner {
  position: relative;
}

#wrapper #slide_banner_area #slide_banner .slick-prev {
  left: 25px;
}

#wrapper #slide_banner_area #slide_banner .slick-next {
  right: 25px;
}

#wrapper #slide_banner_area #slide_banner .slide_item img {
  width: 100%;
}

#wrapper #slide_banner_area #slide_thumb_area {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 15;
  text-align: center;
}

#wrapper #slide_banner_area #slide_thumb_area .slide_thumb_area {
  margin: auto;
  background-color: #fff;
  padding: 0 5px;
}

#wrapper #slide_banner_area #slide_thumb_area .slide_thumb_area.track_fixed .slick-track {
  -webkit-transform: none !important;
          transform: none !important;
}

#wrapper #slide_banner_area #slide_thumb_area .slide_thumb_area .slide_thumb_item {
  margin: 0 5px;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
}

#wrapper #slide_banner_area #slide_thumb_area .slide_thumb_area .slide_thumb_item::after {
  content: '';
  background-color: #ccc;
  height: 3px;
  width: 100%;
  bottom: 0;
  z-index: 1;
  left: 0;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

#wrapper #slide_banner_area #slide_thumb_area .slide_thumb_area .slide_thumb_item.slick-current::after {
  background-color: transparent;
  background-image: url(/assets/images/home/color_header.png);
  background-size: contain;
}

#wrapper #slide_banner_area #slide_thumb_area .slide_thumb_area .slide_thumb_item img {
  width: 100%;
}

#wrapper #new_collection .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper #new_collection .img img {
  width: 100%;
}

#wrapper #new_collection .info {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#wrapper #new_collection .info .sub_title {
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1;
}

#wrapper #new_collection .info .title {
  color: #ee0771;
  font-size: 28px;
  margin-bottom: 15px;
  line-height: 1;
}

#wrapper #new_collection .info .text {
  text-align: left;
  margin-bottom: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

#wrapper #new_collection .info .view_more {
  color: #777;
}

#wrapper #middle_banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#wrapper #new_products .filter_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

#wrapper #new_products .filter_area .filter_option {
  font-family: qs_semi_bold;
  font-size: 24px;
  color: #777;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

#wrapper #new_products .filter_area .filter_option::after {
  content: '|';
  color: #777;
  margin: 0 15px;
  font-family: qs_light;
}

#wrapper #new_products .filter_area .filter_option:last-child::after {
  content: none;
}

#wrapper #new_products .filter_area .filter_option.active {
  color: #ee0771;
}

#wrapper #new_products .product_list {
  margin-left: -15px;
  margin-right: -15px;
}

#wrapper #new_products .product_list .row {
  margin: 0;
}

#wrapper #new_products .product_list .row > div {
  padding-left: 0;
  padding-right: 0;
}

#wrapper #new_products .product_list .product_box {
  padding: 10px 15px;
  margin-bottom: 25px;
  position: relative;
}

#wrapper #new_products .product_list .product_box .img {
  display: block;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

#wrapper #new_products .product_list .product_box .img img {
  width: 100%;
}

#wrapper #new_products .product_list .product_box .info .name {
  text-decoration: none;
  color: #000;
  font-family: qs_bold;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
}

#wrapper #new_products .product_list .product_box .info .prices {
  text-align: center;
  font-size: 13px;
}

#wrapper #new_products .product_list .product_box .info .prices .price {
  display: inline-block;
  vertical-align: bottom;
  text-decoration: line-through;
  color: #777;
  font-family: qs_light;
  margin-right: 5px;
}

#wrapper #new_products .product_list .product_box .info .prices .sale_price {
  display: inline-block;
  vertical-align: bottom;
}

#wrapper #new_products .product_list .product_box:hover .img {
  -webkit-box-shadow: 0 0 2px 0 #ccc;
          box-shadow: 0 0 2px 0 #ccc;
}

#wrapper #new_products .product_list .product_box:hover .info .name {
  color: #ee0771;
}

#wrapper #new_products .product_list .product_box:hover .img::after {
  content: '';
  width: 100%;
  height: 3px;
  background-image: url(/assets/images/home/color_header.png);
  background-size: contain;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

#wrapper #new_products .product_list .view_more {
  margin-top: 15px;
}

#wrapper #new_products .product_list .view_more a {
  height: 50px;
  width: 150px;
  margin: auto;
  font-family: qs_bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ee0771;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color .5s;
  transition: border-color .5s;
}

#wrapper #new_products .product_list .view_more a > span span {
  display: inline-block;
  vertical-align: middle;
}

#wrapper #new_products .product_list .view_more a > span span.plus_sign {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
  margin-right: 8px;
  font-size: 120%;
}

#wrapper #new_products .product_list .view_more a:hover {
  border-color: #ee0771;
}

#wrapper #new_products .product_list .view_more a:hover .plus_sign {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#wrapper #new_articles .title_area {
  font-family: qs_bold;
  text-align: center;
  margin-bottom: 25px;
}

#wrapper #new_articles .title_area .sub_title {
  color: #777;
}

#wrapper #new_articles .title_area .title {
  text-transform: uppercase;
  font-size: 28px;
  color: #ee0771;
}

#wrapper #new_articles .list_articles {
  margin-left: -15px;
  margin-right: -15px;
}

#wrapper #new_articles .list_articles .row {
  margin: 0;
}

#wrapper #new_articles .list_articles .row > div {
  padding-left: 0;
  padding-right: 0;
}

#wrapper #new_articles .list_articles .article_box {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin-bottom: 225px;
}

#wrapper #new_articles .list_articles .article_box .img {
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
    padding: 0;
    padding-top: 100%;
   background-color: #d9d9d9;
}

#wrapper #new_articles .list_articles .article_box .img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#wrapper #new_articles .list_articles .article_box .info {
  padding: 25px;
  width: 85%;
  margin: auto;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 50px);
  height: 250px;
}

#wrapper #new_articles .list_articles .article_box .info .title {
  display: block;
  font-family: qs_bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

#wrapper #new_articles .list_articles .article_box .info .title:hover {
  color: #ee0771;
}

#wrapper #new_articles .list_articles .article_box .info .sub_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

#wrapper #new_articles .list_articles .article_box .info .text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin-bottom: 10px;
}

#wrapper #new_articles .list_articles .article_box .info .view_more {
  color: #777;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
}

#wrapper #new_articles .list_articles .article_box .info .view_more:hover {
  color: #ee0771;
}

#wrapper #new_articles .list_articles .article_box:hover .img {
  -webkit-box-shadow: 0 0 3px 0 #ccc;
          box-shadow: 0 0 3px 0 #ccc;
}

#wrapper #new_articles .list_articles .article_box:hover .info .name {
  color: #ee0771;
}

#wrapper #new_articles .list_articles .article_box:hover .info::after {
  content: '';
  width: 100%;
  height: 3px;
  background-image: url(/assets/images/home/color_header.png);
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

#wrapper #new_articles .extra_infos {
  border-top: 1px solid #d9d9d9;
  margin-top: 50px;
  padding-top: 25px;
}

#wrapper #new_articles .extra_infos .extra_info_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#wrapper #new_articles .extra_infos .extra_info_card .img {
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  width: 80px;
  padding: 10px 0;
  padding-right: 15px;
}

#wrapper #new_articles .extra_infos .extra_info_card .img img {
  width: 100%;
}

#wrapper #new_articles .extra_infos .extra_info_card .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper #new_articles .extra_infos .extra_info_card .info .title {
  font-family: qs_bold;
  color: #000;
  text-transform: capitalize;
}

#wrapper #new_articles .extra_infos .extra_info_card .info .text {
  color: #777;
  font-size: 13px;
  padding-right: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

#customer_comments {
  background-color: #fafafa;
}

#customer_comments .comment_area {
  padding: 15px;
}

#customer_comments .comment_area .comment_box {
  padding: 15px;
  position: relative;
  margin: 0 10px;
}

#customer_comments .comment_area .comment_box p {
  text-align: justify;
  padding: 0;
  margin: 0;
}

#customer_comments .comment_area .comment_box .note_quote {
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #fafafa;
}

#customer_comments .comment_area .comment_box .right_quote {
  background-position-x: right;
  top: -10px;
  right: -10px;
}

#customer_comments .comment_area .comment_box .left_quote {
  background-position-y: bottom;
  bottom: -10px;
  left: -10px;
}

#customer_comments .customer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 10px;
}

#customer_comments .customer_box .customer_info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#customer_comments .customer_box .customer_name {
  font-size: 22px;
}

/**/
/**/
#ins_connect {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ins_connect .panel_connect {
  text-align: center;
  position: absolute;
  background-repeat: no-repeat;
  color: #fff;
  background-size: cover;
  background-position: center;
  padding: 25px;
  color: #fff;
}

#ins_connect .panel_connect .white_line {
  position: relative;
  margin: 5px 0;
}

#ins_connect .panel_connect .white_line > div {
  height: 1px;
  background-color: #fff;
  width: 80px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#ins_connect .panel_connect img {
  float: none;
  display: block;
}

#ins_connect .panel_connect img.ins_icon {
  width: 25px;
  margin: 5px auto;
}

#ins_connect .panel_connect img.brand_icon {
  margin: auto;
  width: 100px;
  margin-top: 15px;
}

@media (max-width: 600px) {
  #wrapper #slide_banner_area .slide_thumb_area {
    display: none;
  }
  #wrapper #slide_banner_area .slide_item img {
    width: 100%;
  }
  #wrapper .main_section {
    padding: 25px 15px;
  }
  #wrapper #new_products .filter_area {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper #new_products .filter_area .filter_option::after {
    margin: 0 5px;
  }
  #wrapper #middle_banner {
    padding-left: 0;
    padding-right: 0;
  }
  #wrapper #new_articles .extra_infos .extra_info_card .info .text {
    padding-right: 0;
  }
  #ins_connect {
    height: 250px;
  }
  #ins_connect .panel_connect {
    width: 250px;
  }
  #customer_comments, #product_preview {
    padding: 50px 0;
  }
}

@media (min-width: 600px) {
  #customer_comments, #product_preview {
    padding: 50px 0;
  }
}

@media (min-width: 600px) and (max-width: 760px) {
  #wrapper #slide_banner_area .slide_thumb_area {
    display: none;
  }
  #wrapper #ins_connect {
    height: 250px;
  }
  #wrapper #ins_connect .panel_connect {
    width: 250px;
  }
}

@media (min-width: 768px) {
  #wrapper #product_preview .section_header {
    display: block;
    margin-top: 30px;
  }
  #wrapper #ins_connect {
    height: 300px;
  }
}

@media (min-width: 992px) {
  #wrapper #new_collection .info {
    padding-top: 0;
  }
  #ins_connect {
    height: 500px;
  }
  #ins_connect .panel_connect {
    padding: 50px;
  }
  #customer_comments, #product_preview {
    padding: 100px 0;
  }
  #product_preview .section_header {
    display: block;
    margin-top: 50px;
  }
  #middle_img > div.container > div {
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=home.css.map */