@page
@model BaseProjectWebRazor.Pages.About.IndexModel
@{
    ViewData["Title"] = "Giới thiệu chung";
}
<div class="about-page">
    <div class="banner">
        <h2 class="title padding">Hacid</h2>
        <img src="/assets/images/about/banner_hacid.jpg">
    </div>
    <div class="intro padding">
        <div class="heading_area">
            <h3 class="heading">
                Giới thiệu chung

            </h3>
            <div class="share">
                <span>CHIA SẺ :</span>
                <a href="#" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.76" height="23.598"
                         viewBox="0 0 12.76 23.598">
                        <g id="fb" transform="translate(18755 -1229)">
                            <g transform="translate(-18755 1229)">
                                <g transform="translate(0 0)">
                                    <path d="M34.355,0l-3.06,0c-3.438,0-5.66,2.279-5.66,5.807V8.485H22.558a.481.481,0,0,0-.481.481v3.88a.481.481,0,0,0,.481.481h3.077v9.789a.481.481,0,0,0,.481.481h4.014a.481.481,0,0,0,.481-.481V13.327h3.6a.481.481,0,0,0,.481-.481V8.967a.482.482,0,0,0-.481-.481h-3.6V6.215c0-1.091.26-1.645,1.681-1.645h2.061a.481.481,0,0,0,.481-.481V.486A.481.481,0,0,0,34.355,0Z"
                                          transform="translate(-22.077)" fill="#89a3a3" />
                                </g>
                            </g>
                        </g>
                    </svg>

                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22.836" height="22.551"
                         viewBox="0 0 22.836 22.551">
                        <g transform="translate(18705.822 -1229)">
                            <g transform="translate(-18705.822 1229)">
                                <g transform="translate(0 0)">
                                    <g transform="translate(0 6.851)">
                                        <g>
                                            <rect width="5.107" height="15.7" fill="#89a3a3" />
                                        </g>
                                    </g>
                                    <g transform="translate(7.136 6.851)">
                                        <g>
                                            <path id="Path_8" data-name="Path 8"
                                                  d="M171.881,160.184c-.054-.017-.106-.036-.163-.051s-.137-.029-.207-.04a4.575,4.575,0,0,0-.916-.093,7.1,7.1,0,0,0-5.488,3v-3H160v15.7h5.107v-8.564s3.859-5.375,5.488-1.427V175.7H175.7V165.105A5.092,5.092,0,0,0,171.881,160.184Z"
                                                  transform="translate(-160 -160)" fill="#89a3a3" />
                                        </g>
                                    </g>
                                    <g transform="translate(0.269)">
                                        <g>
                                            <ellipse cx="2.394" cy="2.394" rx="2.394" ry="2.394" fill="#89a3a3" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                </a>
            </div>
        </div>
        <div class="ck-content">
            <figure class="table">
                <table>
                    <td style="width:33.33%;padding-right: 20px;">
                        <p>
                            <strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</strong> Consequatur
                            quasi sint, quae
                            magni
                            excepturi eum aliquid pariatur quaerat eos reprehenderit corrupti iste ad magnam
                            similique
                            doloribus facere provident ea fugiat.
                        </p>
                    </td>
                    <td style="width:33.33%;padding-right: 10px;padding-left:10px">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur quasi sint, quae
                            magni
                            excepturi eum aliquid pariatur quaerat eos reprehenderit corrupti iste ad magnam
                            similique
                            doloribus facere provident ea fugiat.
                        </p>
                    </td>
                    <td style="width:33.33%;padding-left:20px">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur quasi sint, quae
                            magni
                            excepturi eum aliquid pariatur quaerat eos reprehenderit corrupti iste ad magnam
                            similique
                            doloribus facere provident ea fugiat.
                        </p>
                    </td>
                </table>
            </figure>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti repellat exercitationem cum? Quos
                iste corporis perferendis at facilis reiciendis eos iure aliquam minima magni. Nisi rerum magni
                debitis dolorum maxime. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, iure
                illo dolore doloribus tempore assumenda ea fuga, repellat quidem animi consectetur laudantium iste
                quam amet nostrum laboriosam officia. Ipsa, inventore.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti repellat exercitationem cum? Quos
                iste corporis perferendis at facilis reiciendis eos iure aliquam minima magni. Nisi rerum magni
                debitis dolorum maxime. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, iure
                illo dolore doloribus tempore assumenda ea fuga, repellat quidem animi consectetur laudantium iste
                quam amet nostrum laboriosam officia. Ipsa, inventore.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, ex adipisci! Aperiam nemo, natus
                consectetur eaque tempore vero enim. Vitae ipsam unde minus aspernatur natus enim laboriosam maxime
                perspiciatis nostrum!
            </p>
        </div>
    </div>
    <div class="fields">
        <div class="row">
            <div class="col-xl-4">
                <div class="list padding">
                    <h3 class="heading">Lĩnh vực hoạt động chính</h3>
                    <ul id="field_list">
                        <li class="active">
                            <span class="index">01</span>
                            <a href="#">Tổng thầu thiết kế, lập dadt công trình dân dụng, công nghiệp, htkt.</a>
                        </li>
                        <li>
                            <span class="index">02</span>
                            <a href="#">Thiết kế quy hoạch đô thị, nông thôn.</a>
                        </li>
                        <li>
                            <span class="index">03</span>
                            <a href="#">Tư vấn giám sát - quản lý dự án</a>
                        </li>
                        <li>
                            <span class="index">04</span>
                            <a href="#">Tư vấn đầu tư</a>
                        </li>
                        <li>
                            <span class="index">05</span>
                            <a href="#">Thiết kế quy hoạch đô thị, nông thôn.</a>
                        </li>
                        <li>
                            <span class="index">06</span>
                            <a href="#">Thiết kế quy hoạch đô thị, nông thôn.</a>
                        </li>
                        <li>
                            <span class="index">07</span>
                            <a href="#">Thiết kế quy hoạch đô thị, nông thôn.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-8">
                <div id="field_detail" class="info padding"
                     style="background-image: url('/assets/images/about/field.jpg');">
                    <div class="title">Tổng thầu thiết kế, lập dadt công trình dân dụng, công nghiệp, htkt.</div>
                    <div class="ck-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, autem? Iusto dicta
                            alias
                            eveniet laborum error esse iste? Numquam accusantium ad, perspiciatis autem quos
                            praesentium
                            tempore iure inventore odio at.
                        </p>
                        <br />
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit quidem fugiat
                            perferendis eius
                            iure, aperiam laboriosam deleniti repellat quam illum dicta quasi quis dolorem totam
                            inventore
                            cum ab mollitia voluptatem?
                        </p>
                        <br />
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, dolore</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="history padding">
        <h3 class="heading">Lịch sử công ty</h3>
        <div class="row">
            <div class="col-xl-3">
                <div class="img">
                    <img src="/assets/images/about/headquarter.jpg" title="trụ sở hacid">
                </div>
            </div>
            <div class="col-xl-9">
                <div class="timeline">
                    <div class="line">
                        <div class="year">Năm 1980</div>
                        <div class="text">Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.</div>
                    </div>
                    <div class="line">
                        <div class="year">Năm 1993</div>
                        <div class="text">Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.</div>
                    </div>
                    <div class="line">
                        <div class="year">Năm 1999</div>
                        <div class="text">Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.</div>
                    </div>
                    <div class="line">
                        <div class="year">Năm 2002</div>
                        <div class="text">Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.</div>
                    </div>
                    <div class="line">
                        <div class="year">Năm 2004</div>
                        <div class="text">Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.</div>
                    </div>
                    <div class="line">
                        <div class="year">Năm 2004</div>
                        <div class="text">Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="links">
        <a class="title_card bg_color_1 padding" href="#">
            <div class="text">Kinh nghiệm chuyên môn</div>
        </a>
        <a class="title_card bg_color_2 padding" href="#">
            <div class="text">Năng lực hiện tại</div>
        </a>
        <a class="title_card bg_color_1 padding" href="#">
            <div class="text">Khách hàng - đối tác</div>
        </a>
    </div>
</div>
@section Styles {

    <link href="~/css/about.css" rel="stylesheet" />
}
@section Scripts{
    <script>
        $(function () {
            $('#field_list li a').on('click', function (e) {
                e.preventDefault();
                $('#field_list li').removeClass('active');
                $('#field_detail .title').text($(this).text());
                $(this).parent('li').addClass('active');
            });
        })
    </script>
}
