@page
@model BaseProjectWebRazor.Pages.Bim.IndexModel
@{
    ViewData["Title"] = "Công nghệ bim";
}
<div class="bim-page">
    <div class="banner">
        <h2 class="title padding">Công nghệ bim</h2>
        <img src="/assets/images/banner_project.jpg">
    </div>
    <div class="wrapper">
        <div class="top-filter-list new padding">
            <div class="left">
                <div class="label">Bộ lọc tin tức: </div>
                <div class="options">
                    <a class="option active" href="#">
                        Tất cả
                    </a>
                    <a class="option" href="#">
                        Bim
                    </a>
                    <a class="option" href="#">
                        Revit
                    </a>
                </div>
            </div>
            <button>+</button>
        </div>

        <div class="padding">
            <div class="filters">
                <div class="left">
                    <div class="option">
                        <div class="label">Tìm kiếm tin tức:</div>
                        <form class="search_form">
                            <input type="text" class="search" placeholder="Nhập từ khóa tìm kiếm...">
                            <img src="/assets/icons/search.svg" class="input_icon">
                        </form>
                    </div>


                </div>
                <div class="right">
                    <div class="option">
                        <div class="label">Sắp xếp</div>
                        <div>
                            <select>
                                <option value="1">A - Z</option>
                                <option value="2">Z - A</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="list_projects">
                <div class="project_box">
                    <div class="inside">
                        <div class="img" style="background-image: url('/assets/images/bim/bim-mh-1.jpg');">

                        </div>
                        <div class="info">
                            <div class="des">
                                <div>
                                    <span class="color_1 cate">Công nghệ bim </span> <span class="color_4">
                                        -
                                        17.05.2019
                                    </span>
                                </div>
                                <div class="color_4">
                                    <img src="/assets/icons/xem.svg" class="icon">
                                    <span>102</span>
                                </div>
                            </div>
                             <a class="title" href="/new/detail">
                                Bim và Revit trong ngành xây dựng hiện nay
                            </a>
                            <a href="/new/detail" class="view_more">[ Xem thêm ]</a>
                        </div>
                    </div>

                </div>
                <div class="project_box">
                    <div class="inside">
                        <div class="img" style="background-image: url('/assets/images/bim/bim-mh-2.jpg');">

                        </div>
                        <div class="info">
                            <div class="des">
                                <div>
                                    <span class="color_1 cate">Công nghệ bim </span> <span class="color_4">
                                        -
                                        17.05.2019
                                    </span>
                                </div>
                                <div class="color_4">
                                    <img src="/assets/icons/xem.svg" class="icon">
                                    <span>102</span>
                                </div>
                            </div>
                             <a class="title" href="/new/detail">
                                Bim và Revit trong ngành xây dựng hiện nay
                            </a>
                            <a href="/new/detail" class="view_more">[ Xem thêm ]</a>
                        </div>
                    </div>

                </div>
                <div class="project_box">
                    <div class="inside">
                        <div class="img" style="background-image: url('/assets/images/bim/bim-mh-3.jpg');">

                        </div>
                        <div class="info">
                            <div class="des">
                                <div>
                                    <span class="color_1 cate">Công nghệ bim </span> <span class="color_4">
                                        -
                                        17.05.2019
                                    </span>
                                </div>
                                <div class="color_4">
                                    <img src="/assets/icons/xem.svg" class="icon">
                                    <span>102</span>
                                </div>
                            </div>
                             <a class="title" href="/new/detail">
                                Bim và Revit trong ngành xây dựng hiện nay
                            </a>
                            <a href="/new/detail" class="view_more">[ Xem thêm ]</a>
                        </div>
                    </div>

                </div>
                <div class="project_box">
                    <div class="inside">
                        <div class="img" style="background-image: url('/assets/images/bim/bim-mh-4.jpg');">

                        </div>
                        <div class="info">
                            <div class="des">
                                <div>
                                    <span class="color_1 cate">Công nghệ bim </span> <span class="color_4">
                                        -
                                        17.05.2019
                                    </span>
                                </div>
                                <div class="color_4">
                                    <img src="/assets/icons/xem.svg" class="icon">
                                    <span>102</span>
                                </div>
                            </div>
                             <a class="title" href="/new/detail">
                                Bim và Revit trong ngành xây dựng hiện nay
                            </a>
                            <a href="/new/detail" class="view_more">[ Xem thêm ]</a>
                        </div>
                    </div>

                </div>
                <div class="project_box">
                    <div class="inside">
                        <div class="img" style="background-image: url('/assets/images/bim/bim-mh-5.jpg');">

                        </div>
                        <div class="info">
                            <div class="des">
                                <div>
                                    <span class="color_1 cate">Công nghệ bim </span> <span class="color_4">
                                        -
                                        17.05.2019
                                    </span>
                                </div>
                                <div class="color_4">
                                    <img src="/assets/icons/xem.svg" class="icon">
                                    <span>102</span>
                                </div>
                            </div>
                             <a class="title" href="/new/detail">
                                Bim và Revit trong ngành xây dựng hiện nay
                            </a>
                            <a href="/new/detail" class="view_more">[ Xem thêm ]</a>
                        </div>
                    </div>

                </div>
                <div class="project_box">
                    <div class="inside">
                        <div class="img" style="background-image: url('/assets/images/bim/bim-mh-6.jpg');">

                        </div>
                        <div class="info">
                            <div class="des">
                                <div>
                                    <span class="color_1 cate">Công nghệ bim </span> <span class="color_4">
                                        -
                                        17.05.2019
                                    </span>
                                </div>
                                <div class="color_4">
                                    <img src="/assets/icons/xem.svg" class="icon">
                                    <span>102</span>
                                </div>
                            </div>
                             <a class="title" href="/new/detail">
                                Bim và Revit trong ngành xây dựng hiện nay
                            </a>
                            <a href="/new/detail" class="view_more">[ Xem thêm ]</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="paginations">
                <ul>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <link href="~/css/filter-list.css" rel="stylesheet" />
    <link href="~/css/news.css" rel="stylesheet" />
}
