/*KALA COLOR*/
#main_info #main_info_top .t_title {
  margin: 0;
  padding-right: 20%;
  font-size: 24px;
}

#main_info #main_info_top .color_line {
  margin-top: 30px;
}

#main_info #main_info_top .right_box > div {
  margin-bottom: 5px;
}

.il_header {
  cursor: pointer;
  margin: 15px 0;
}

.il_header .collapse_sign {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(/assets/images/Icon_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.il_header[aria-expanded=true] .collapse_sign {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info_line_cl {
  border-bottom: 1px solid #eee;
  position: relative;
  padding-right: 15px;
}

.info_line_cl .collapse {
  cursor: default;
}

.info_line_cl ul {
  margin-top: 5px;
}

.info_line_cl ul li {
  margin-bottom: 5px;
}

#middle_img {
  background-color: #fafafa;
}

#middle_img img.free_size_img {
  width: 100%;
}

#middle_img > div.container > div {
  margin-bottom: 50px;
}

#middle_img > div.container > div:last-child {
  margin-bottom: 0;
}

.slide_item img {
  width: 100%;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition: opacity 3s ease, opacity 1s ease-out;
  transition: opacity 3s ease, opacity 1s ease-out;
}

#wrapper #main_content .main_section {
  position: relative;
  padding: 25px 0;
}

figure.image {
  margin-bottom: 15px !important;
}

@media (max-width: 600px) {
  #main_info #main_info_top {
    text-align: justify;
  }
  #main_info #main_info_top .t_title {
    padding-right: 0;
    margin-bottom: 15px;
  }
  .slide_thumb_area {
    display: none;
  }
  .slide_item img {
    /* height: 100%; */
    width: 100%;
    /* background-repeat: no-repeat;
         background-position: center;
         background-size: cover; */
  }
  #ins_connect {
    height: 250px;
  }
  #ins_connect .panel_connect {
    width: 250px;
  }
  #customer_comments, #product_preview {
    padding: 50px 0;
  }
  .il_header .pre_text {
    display: none;
  }
  .il_header[aria-expanded=true] .pre_text {
    display: block;
  }
  .il_header .collapse_sign {
    right: 0px;
    top: -20px;
  }
  .reset_size > div {
    margin: 0;
    padding-bottom: 30px;
  }
}

@media (min-width: 600px) {
  .reset_size > div {
    margin: 0;
    padding: 15px;
  }
  /* #slide_banner .carousel-inner{
         height: 650px;
     } */
  .slide_item {
    /* height: 100%;
         width:100%;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover; */
  }
  #customer_comments, #product_preview {
    padding: 50px 0;
  }
}

@media (min-width: 600px) and (max-width: 760px) {
  #ins_connect {
    height: 250px;
  }
  #ins_connect .panel_connect {
    width: 250px;
  }
  /* #slide_banner .carousel-inner{
         height: 500px;
     } */
  .slide_thumb_area {
    display: none;
  }
  .il_header .collapse_sign {
    right: 0px;
    top: -20px;
  }
}

@media (min-width: 768px) {
  .slide_thumb {
    height: 80px;
  }
  .il_header .collapse_sign {
    right: 15px;
    top: 5px;
  }
  #product_preview .section_header {
    display: block;
    margin-top: 30px;
  }
  .il_header .pre_text {
    display: none;
  }
  .il_header[aria-expanded=true] .pre_text {
    display: block;
  }
  #wrapper #main_content .main_section {
    position: relative;
    padding: 50px 0;
  }
}

@media (min-width: 992px) {
  .il_header .pre_text {
    display: block;
    padding-right:25px;
  }
  #ins_connect {
    height: 500px;
  }
  #customer_comments, #product_preview {
    padding: 100px 0;
  }
  #product_preview .section_header {
    display: block;
    margin-top: 50px;
  }
  #ins_connect .panel_connect {
    padding: 50px;
  }
  #middle_img > div.container > div {
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=about.css.map */