@page "{Id}"
@model About.Partner.DetailModel
@{
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sửa thông tin khách hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-page="/Home/Index" asp-area="Admin">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="/News/Index" asp-area="Admin">Danh sách đối tác</a></li>
                    <li class="breadcrumb-item">Sửa thông tin khách hàng</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            Điền các thông tin khách hàng vào form bên dưới.
        </div>
        <div class="card-body">
            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger">@ViewData["error"]</div>
            }
        <form method="post" enctype="multipart/form-data">
            <input asp-for="MainModel.Id" hidden />
            <input asp-for="MainModel.Index" hidden/>
            <div class="form-group row">
                <label class="col-12" asp-for="MainModel.Name">Tên khách hàng <span class="red">(*)</span></label>
                <div class="col-lg-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">vi</span>
                        </div>
                        <input type="text" placeholder="Tiếng Việt" class="form-control" asp-for="MainModel.Name" required>
                        <span class="text-danger" asp-validation-for="MainModel.Name"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">en</span>
                        </div>
                        <input type="text" placeholder="Tiếng Anh" class="form-control" asp-for="MainModel.NameEn" required>
                        <span class="text-danger" asp-validation-for="MainModel.NameEn"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <label asp-for="MainModel.Link">Webiste</label>
                <input type="text" class="form-control" asp-for="MainModel.Link" required>
                <span class="text-danger" asp-validation-for="MainModel.Link"></span>

            </div>
            <div class="form-group">

                <label asp-for="MainModel.CategoryId">Thể loại</label>
                <select asp-for="MainModel.CategoryId" asp-items="Model.Categories" class="form-control" required>
                </select>
                <span class="text-danger" asp-validation-for="MainModel.CategoryId"></span>

            </div>
            <div class="form-group">

                <label asp-for="Upload">Thumbnail</label>
                <input type="file" asp-for="Upload" />
                <div>
                    <div class='img_box'><img style="max-width:200px" src="@("/upload/images/"+Model.MainModel.Thumbnail)"></div>
                </div>
                <input asp-for="MainModel.Thumbnail" hidden />
            </div>
            <div class="form-group">
                <br />
                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Lưu lại</button>
                <a class="btn btn-default" asp-page="/About/Partner/Index"><i class="fas fa-times"></i> Hủy bỏ</a>
            </div>
        </form>

        </div>

    </div>
</section>